{
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"unsafeWindow": false,
		"GM_config": false,
		"GM_addStyle": false,
		"GM_registerMenuCommand": false
	},
	"rules": {
		"no-trailing-spaces": 0,
		"eqeqeq": 0,
		"no-cond-assign": 0,
		"camelcase": 0,
		"no-multi-str": 0,
		"new-cap": 0,
		"no-constant-condition": 0,
		"no-mixed-spaces-and-tabs": 0,
		"quotes": 0,
		"no-use-before-define": [2, "nofunc"],
		"no-shadow": 0
	}
}
