.embedme-image {
	max-width: 100%;
}

.embedme-video {
	max-width: @ytWidthpx;
}

.embedme-video-wrap {
	position: relative;
	padding-top: 30px;
	padding-bottom: @ytRatio%;
}

.embedme-video-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#GM_config {
	border-radius: 1em;
	box-shadow: 0 0 1em black;
	border: 1px solid grey!important;
}
