.bbs-container {
	background-color: black; 
	padding: 0.5em; 
	font-size: 18px;
    font-family: "細明體_HKSCS", "細明體";
    line-height: 18px;
	color: silver;
	cursor: default;
}

.bbs-container img{
	max-width: 100%;
}

.line {min-height: 1em;}

.c300 {color:#000}
.c310 {color:maroon}
.c320 {color:green}
.c330 {color:olive}
.c340 {color:navy}
.c350 {color:purple}
.c360 {color:teal}
.c370 {color:silver}

.c301 {color:gray}
.c311 {color:red}
.c321 {color:#0f0}
.c331 {color:#ff0}
.c341 {color:#00f}
.c351 {color:#f0f}
.c361 {color:#0ff}
.c371 {color:#fff}

.b40 {background-color:#000}
.b41 {background-color:maroon}
.b42 {background-color:green}
.b43 {background-color:olive}
.b44 {background-color:navy}
.b45 {background-color:purple}
.b46 {background-color:teal}
.b47 {background-color:silver}
